.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);

    display: flex;
    align-items: center;
    justify-content: center;

    .content {
        padding: 20px 30px;
        background-color: var(--color-bg);
        border-radius: 12px;

        display: grid;
        grid-template-areas:
            "title share close"
            "board board board";
        grid-template-columns: 1fr max-content max-content;
        gap: 20px;

        @media (max-width: 640px) {
            border-radius: 5px;

            grid-template-areas:
                "title title"
                "board board"
                "share close";
            grid-template-columns: 1fr 1fr;
            gap: 15px;
            justify-items: center;
        }
    }

    .title {
        grid-area: title;
    }

    .share {
        grid-area: share;
        @media (max-width: 640px) {
            justify-self: end;
        }
    }

    .close {
        grid-area: close;
        @media (max-width: 640px) {
            justify-self: start;
        }
    }

    button {
        padding: 5px 10px;
        font-size: 20px;
        background-color: var(--color-button-bg);
        color: var(--color-button-text);
        border: none;
        border-radius: 12px;
        cursor: pointer;

        @media (max-width: 640px) {
            padding: 10px 15px;
            width: 100px;
        }
    }

    .board {
        grid-area: board;
    }
}
